target

# IntelliJ
.idea/
*.iml

# IntelliJ SoapUI plugin
global-groovy.log
soapui.log
soapui-errors.log

# Eclipse stuff
**/.project
**/.settings/org.eclipse.core.resources.prefs
**/.prefs
**/.classpath
**/target

# MacOS
**/.DS_Store
