# IntelliJ
.idea/
*.iml

# IntelliJ SoapUI plugin
global-groovy.log
soapui.log
soapui-errors.log

# Eclipse stuff
**/.project
**/.settings/*
**/.prefs
**/.classpath

# Maven stuff
**/target/*

# MacOS
**/.DS_Store

# These are needed solely to make Eclipse stop whining.
/.settings
/.project

# Californium
**/data/security.data
Californium.properties

# ActiveMQ
activemq-data/
